<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<script type="text/javascript" src="./libs/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./libs/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="./libs/angular/angular.js"></script>
	<script type="text/javascript" src="./libs/angular/angular-ui-router.js"></script>
	<link rel="stylesheet" href="./libs/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>

<% include partials/header.ejs %> 
<div class="wrapper">
 
<div class="container-fluid">
		<div class="header">
			WT*! <br>
			<p class="small">Get ready for some idiotic action<b></p>
			<!-- <a href="/signup"><button type="button" class="btn btn-default btn-ab">Sign Up</button></a> -->
			<a href="/explore"><button type="button" class="btn btn-default btn-ab">Explore</button></a>
		</div>

</div>
</div>
</body>
</html>